.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
.DS_Store # if a windows user, Thumbs.db instead
/public/** # if using Netlify
/public
DIY Headset Appendix: Plantronics m130.gdoc
DIY Lightweight Clearcom Headset.gdoc
